In [2]:
# # Downloading Dataset

# import kagglehub

# # Download latest version
# path = kagglehub.dataset_download("kartik2112/fraud-detection")

# print("Path to dataset files:", path)

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

os.chdir(r"C:\Users\pader\OneDrive\Desktop\Python\Credit Card Transactions Fraud Detection Dataset")
pd.set_option('display.max_columns', None)

In [27]:
df = pd.read_csv("fraudTrain.csv")

df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,Moravian Falls,NC,28654,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,Malad City,ID,83252,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,Boulder,MT,59632,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,Doe Hill,VA,24433,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 23 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0             1296675 non-null  int64
 1   trans_date_trans_time  1296675 non-null  object
 2   cc_num                 1296675 non-null  int64
 3   merchant               1296675 non-null  object
 4   category               1296675 non-null  object
 5   amt                    1296675 non-null  float64
 6   first                  1296675 non-null  object
 7   last                   1296675 non-null  object
 8   gender                 1296675 non-null  object
 9   street                 1296675 non-null  object
 10  city                   1296675 non-null  object
 11  state                  1296675 non-null  object
 12  zip                    1296675 non-null  int64
 13  lat                    1296675 non-null  float64
 14  long                   1296675 non-null  float64
 15  city_pop               1296675 non-null  int64
 16  job                    1296675 non-null  object
 17  dob                    1296675 non-null  object
 18  trans_num              1296675 non-null  object
 19  unix_time              1296675 non-null  int64
 20  merch_lat              1296675 non-null  float64
 21  merch_long             1296675 non-null  float64
 22  is_fraud               1296675 non-null  int64
dtypes: float64(5), int64(6), object(12)
memory usage: 227.5+ MB

In [6]:
df.describe()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
count,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06
mean,6.483370e+05,4.171920e+17,7.035104e+01,4.880067e+04,3.853762e+01,-9.022634e+01,8.882444e+04,1.349244e+09,3.853734e+01,-9.022646e+01,5.788652e-03
std,3.743180e+05,1.308806e+18,1.603160e+02,2.689322e+04,5.075808e+00,1.375908e+01,3.019564e+05,1.284128e+07,5.109788e+00,1.377109e+01,7.586269e-02
min,0.000000e+00,6.041621e+10,1.000000e+00,1.257000e+03,2.002710e+01,-1.656723e+02,2.300000e+01,1.325376e+09,1.902779e+01,-1.666712e+02,0.000000e+00
25%,3.241685e+05,1.800429e+14,9.650000e+00,2.623700e+04,3.462050e+01,-9.679800e+01,7.430000e+02,1.338751e+09,3.473357e+01,-9.689728e+01,0.000000e+00
50%,6.483370e+05,3.521417e+15,4.752000e+01,4.817400e+04,3.935430e+01,-8.747690e+01,2.456000e+03,1.349250e+09,3.936568e+01,-8.743839e+01,0.000000e+00
75%,9.725055e+05,4.642255e+15,8.314000e+01,7.204200e+04,4.194040e+01,-8.015800e+01,2.032800e+04,1.359385e+09,4.195716e+01,-8.023680e+01,0.000000e+00
max,1.296674e+06,4.992346e+18,2.894890e+04,9.978300e+04,6.669330e+01,-6.795030e+01,2.906700e+06,1.371817e+09,6.751027e+01,-6.695090e+01,1.000000e+00

In [28]:
# Dropping Columns

df.columns

Index(['Unnamed: 0', 'trans_date_trans_time', 'cc_num', 'merchant', 'category',
       'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip',
       'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time',
       'merch_lat', 'merch_long', 'is_fraud'],
      dtype='object')

In [30]:
cols_to_keep = ['trans_date_trans_time', 'cc_num', 'merchant', 'category', 'amt','gender', 'street', 'city', 'state', 'zip', 'job', 'dob', 'is_fraud','trans_num']

df = df[cols_to_keep]

In [31]:
df.head()

,trans_date_trans_time,cc_num,merchant,category,amt,gender,street,city,state,zip,job,dob,is_fraud,trans_num
0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,F,561 Perry Cove,Moravian Falls,NC,28654,"Psychologist, counselling",1988-03-09,0,0b242abb623afc578575680df30655b9
1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,F,43039 Riley Greens Suite 393,Orient,WA,99160,Special educational needs teacher,1978-06-21,0,1f76529f8574734946361c461b024d99
2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,M,594 White Dale Suite 530,Malad City,ID,83252,Nature conservation officer,1962-01-19,0,a1a22d70485983eac12b5b88dad1cf95
3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,M,9443 Cynthia Court Apt. 038,Boulder,MT,59632,Patent attorney,1967-01-12,0,6b849c168bdad6f867558c3793159a81
4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,M,408 Bradley Rest,Doe Hill,VA,24433,Dance movement psychotherapist,1986-03-28,0,a41d7549acf90789359a9aa5346dcb46

In [32]:
# Parsing Dates

df['trans_date_trans_time'] = pd.to_datetime(df['trans_date_trans_time'])

df['hour'] = df['trans_date_trans_time'].dt.hour
df['minute'] = df['trans_date_trans_time'].dt.minute
df['day'] = df['trans_date_trans_time'].dt.day
df['weekday'] = df['trans_date_trans_time'].dt.day_name()

In [33]:
df.head(2)

,trans_date_trans_time,cc_num,merchant,category,amt,gender,street,city,state,zip,job,dob,is_fraud,trans_num,hour,minute,day,weekday
0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,F,561 Perry Cove,Moravian Falls,NC,28654,"Psychologist, counselling",1988-03-09,0,0b242abb623afc578575680df30655b9,0,0,1,Tuesday
1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,F,43039 Riley Greens Suite 393,Orient,WA,99160,Special educational needs teacher,1978-06-21,0,1f76529f8574734946361c461b024d99,0,0,1,Tuesday

In [34]:
# Checking for Duplicates

df.duplicated().sum()

0

In [37]:
# Checking for Null Values


missing_values = df.isna().sum().sort_values(ascending=False)

print(missing_values[missing_values>0])

Series([], dtype: int64)

In [40]:
# Analysis

user_stats = df.groupby('cc_num')['amt'].agg(['mean','std']).reset_index()

user_stats.rename(columns={'mean':'user_mean', 'std': 'user_std'}, inplace=True)

In [43]:
df = df.merge(user_stats, on='cc_num', how='left')

In [52]:
# Creating Flags

df['high_value_flag'] = (df['amt'] > (df['user_mean'] + 2*df['user_std'])).astype(int)
df['high_value_flag'].sum()

27400

In [53]:
df['odd_hour_flag'] = (df['hour'].between(0,5)).astype(int)
df['odd_hour_flag'].sum()

254830

In [54]:
df.sort_values(by=['cc_num', 'trans_date_trans_time'], inplace=True)
df['prev_time'] = df.groupby('cc_num')['trans_date_trans_time'].shift()
df['time_diff'] = (df['trans_date_trans_time'] - df['prev_time']).dt.total_seconds()

In [56]:
df['rapid_txn_flag'] = (df['time_diff'] < 60).astype(int)
df['rapid_txn_flag'].sum()

4095

In [63]:
df['is_flagged'] = (df[['high_value_flag', 'odd_hour_flag', 'rapid_txn_flag']].any(axis=1))
df['is_flagged'].sum()

280743

In [58]:
df.head()

,trans_date_trans_time,cc_num,merchant,category,amt,gender,street,city,state,zip,job,dob,is_fraud,trans_num,hour,minute,day,weekday,user_mean_x,user_std_x,user_mean_y,user_std_y,user_mean,user_std,high_value_flag,odd_hour_flag,prev_time,time_diff,rapid_txn_flag,is_flagged
1017,2019-01-01 12:47:15,60416207185,"fraud_Jones, Sawayn and Romaguera",misc_net,7.27,F,9886 Anita Drive,Fort Washakie,WY,82514,Information systems manager,1986-02-17,0,98e3dcf98101146a577f85a34e58feec,12,47,1,Tuesday,56.023366,122.632635,56.023366,122.632635,56.023366,122.632635,0,0,NaT,NaN,0,0
2724,2019-01-02 08:44:57,60416207185,fraud_Berge LLC,gas_transport,52.94,F,9886 Anita Drive,Fort Washakie,WY,82514,Information systems manager,1986-02-17,0,498120fc45d277f7c88e3dba79c33865,8,44,2,Wednesday,56.023366,122.632635,56.023366,122.632635,56.023366,122.632635,0,0,2019-01-01 12:47:15,71862.0,0,0
2726,2019-01-02 08:47:36,60416207185,fraud_Luettgen PLC,gas_transport,82.08,F,9886 Anita Drive,Fort Washakie,WY,82514,Information systems manager,1986-02-17,0,95f514bb993151347c7acdf8505c3d62,8,47,2,Wednesday,56.023366,122.632635,56.023366,122.632635,56.023366,122.632635,0,0,2019-01-02 08:44:57,159.0,0,0
2882,2019-01-02 12:38:14,60416207185,fraud_Daugherty LLC,kids_pets,34.79,F,9886 Anita Drive,Fort Washakie,WY,82514,Information systems manager,1986-02-17,0,4f0c1a14e0aa7eb56a490780ef9268c5,12,38,2,Wednesday,56.023366,122.632635,56.023366,122.632635,56.023366,122.632635,0,0,2019-01-02 08:47:36,13838.0,0,0
2907,2019-01-02 13:10:46,60416207185,fraud_Beier and Sons,home,27.18,F,9886 Anita Drive,Fort Washakie,WY,82514,Information systems manager,1986-02-17,0,3b2ebd3af508afba959640893e1e82bc,13,10,2,Wednesday,56.023366,122.632635,56.023366,122.632635,56.023366,122.632635,0,0,2019-01-02 12:38:14,1952.0,0,0

In [65]:
# Exporting Cleaned Dataset

df.to_csv("Credit Card Transactions Fraud Detection Dataset.csv", index=False)

In [64]:
df[df['is_flagged']].to_excel("Flagged_Transactions.xlsx", index=False, sheet_name="Flagged")